body{
	margin:0;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 23px;
	font-weight: 500;
	background: white;
}
a{	color: black;
	text-decoration: underline;}
a:hover{
	
	cursor: pointer;	}

#nav{
	width:100%;
	display:table-cell;
	font-size:22px;
	}
#nav a{
	text-decoration:none;
	}

.qr{
	width:150px;}

.logo{
	max-width:150px;
	display:table-cell;
	padding: 5px;
	padding-left: 15px;
	}
	
.page{
	max-width:20%;
	display:table-cell;
	text-decoration:none;
	text-align: right;
	padding-right:30px;
	padding-left: 30px;
	vertical-align: middle;
	}
	
	
	
#donate{
	width:100px;
	display:table-cell;
	background:#e5233a;
	padding:30px;
	text-align:center;
	vertical-align: middle;
	}
#donate a{
color:white;}


.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -00%);
  }

.overlay-text h1{
color:white;
font-size: 60px;
line-height:70px;}

.text{
padding-left: 22%;
padding-right:22%;
}

.centertext{
padding-left: 22%;
padding-right:22%;
text-align:center;}

.col{
column-count:2;}

.pageheader{
background:#e5233a;
color:white;
margin:0;
padding:30px;}
.pageheader h1{
font-size:50px;
text-align:center;}

h1{
font-size:35px;
line-height:45px;
font-weight: 880;}
h2{
font-size:28px;
line-height:35px;
font-weight: 880;}

.footer{
	width:100%;
	display:table-cell;
	padding:15px;
	padding-left:20%;
	padding-right:20%;
	color:#FFFFFF;
	background: #e5233a;
	padding-bottom:50px;
	}
	
.logo2{
	max-width:300px;
	display:table-cell;

	}

.footer a{
	color:white;}



img{width:100%;
	padding-bottom:5px;
	}


/*for mobile*/
@media only screen and (max-width: 768px) {
#nav{
	width:100%;
	display:table-cell;
	font-size:18px;
	padding-left:20px;
	padding-bottom:20px;
	}

.page{
	max-width:20%;
	display:table-row;
	text-decoration:none;
	text-align: left;	;
	padding-right:30px;
	padding-left: 30px;
	}
	
.logo{
	max-width:150px;
	padding:0;
	}
	
.text{
padding-left: 3%;
padding-right:3%;
}

.centertext{
padding-left: 3%;
padding-right:3%;
}

.footer{
	width:100%;
	display:table-cell;
	padding:15px;
	padding-left:3%;
	padding-right:3%;
	color:#FFFFFF;
	background: #e5233a;
	padding-bottom:50px;
	}
	
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -80%);
  }

.overlay-text h1{
color:white;
font-size: 25px;
line-height:35px;}
}

h1{
font-size:30px;
line-height:40px;}

h2{
font-size:24px;
line-height:30px;}

.pageheader{
padding:15px;}
.pageheader h1{
font-size:40px;
text-align:center;}

.col{
column-count:1;
padding-left:3%;
padding-right:3%;
}
